html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Poppins;
}
@media (max-width: 1450px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 950px) {
  html {
    font-size: 48%;
  }
}
body {
  margin: 0;
}
p,
a,
h1,
h2,
span,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ///////////////////// */
.font12w5 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count_view {
  height: 44px;
  width: 44px;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  background: #d7d7d7;
  border-radius: 50%;
}
.activePoint {
  background: #ff6501;
}
.line_personal {
  width: 300px;
  height: 2px;
  background: #d7d7d7;
}
.innerDiv {
  height: 100%;
  width: 85%;
  background: #ff6501;
}

.grid_colonm {
  margin-top: 80px;
  display: grid;
  gap: 20px;
  grid-template-columns: 75% 25%;
}
.personal_InfoLeft {
  padding-right: 70px;
  border-right: 2px solid #cecece;
}
.personal_line {
  justify-content: flex-start;
}

.inputBox {
  background: rgba(255, 101, 1, 0.2);
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding: 13px;
  width: 49%;
}
.inputDivBox {
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.personalText {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #243763;
}
.personal_de {
  margin-top: 40px;
}
.inputCreate {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4a4a4a;
}
.createDiv {
  margin-top: 20px;
  justify-content: flex-start;
}
.billing {
  margin-bottom: 21px;
}
.lastinput {
  width: 100%;
  margin-top: 20px;
}

.buttonCon {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
  color: #fff;
  background: #ff6501;
  border-radius: 6px;
  padding: 21px 67px;
  border: none;
  cursor: pointer;
}

.priceBox {
  justify-content: space-between;
}
.borderBottom {
  padding-bottom: 20px;
  border-bottom: 2px solid #cecece;
}
.details_div {
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.linkTag {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4a4a4a;
  text-align: center;
}
.freeShip1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #4a4a4a;
}
.freeShip2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #4a4a4a;
}
.freeShipDiv {
  display: flex;
  gap: 16px;
}
.radioButton {
  margin-top: 6px;
  width: 20px;
  height: 20px;
}
.packagingDiv {
  gap: 10px;
  padding: 10px 20px 10px 20px;
}
.borderTop {
  padding-top: 10px;
  border-top: 2px solid #cecece;
}
.price_detaileRight {
  border: 2px solid #cecece;
  margin-top: 40px;
}
