html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Poppins;
}
@media (max-width: 1450px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 950px) {
  html {
    font-size: 48%;
  }
}
body {
  margin: 0;
}
p,
a,
h1,
h2,
span,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ///////////////////// */
.font12w5 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.links {
  display: flex;
  gap: 1.2rem;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #cbcbcb;
}
.link {
  color: #243763;
  border-bottom: 1px solid #fff;
}
.link:hover {
  border-bottom: 1px solid #ff6501;
}

.mobileheadCate {
  display: flex;
  gap: 4.5rem;
}

.cateGoryPage {
  display: grid;
  margin-top: 5.7rem;
  grid-template-columns: 210px 1fr;
}

/* card css */

.cardDetail {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  max-width: 27rem;
  color: #243763;
}
.priceStar {
  display: flex;
  justify-content: space-between;

  width: 27rem;
}
.cards {
  display: flex;
  flex-direction: column;
  max-width: 34.4rem;
  background: #ffffff;
  box-shadow: 4px 4px 1.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
  padding: 1.2rem;
  gap: 1rem;
}

.crsection {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}
.cardsSection {
  margin-bottom: 3.9rem;
}
/* card css */

.rightSectionCate {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0 2rem;
  padding-bottom: 5rem;
}
.cardsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}
.cardsheading,
.headCate,
.takeTextSur {
  font-size: 3rem;
  font-weight: 600;
  color: #243763;
  line-height: 4.5rem;
  cursor: pointer;
}
.takeTextSur {
  color: #fff;
}
.headCate {
  border-bottom: 0.2rem solid #fff;
}
.headCate:hover {
  border-bottom: 0.2rem solid #ff6501;
}
.cardsLink {
  color: #ff6501;
  min-width: 6rem;
}
.cardPrice {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ff6501;
  line-height: 2.4rem;
}

/* Category list */

.a-ordered-list.a-nostyle li,
.a-unordered-list.a-nostyle li,
ol.a-nostyle li,
ul.a-nostyle li {
  list-style: none;
}

.a-ordered-list li,
.a-unordered-list li,
ol li,
ul li {
  word-wrap: break-word;
  margin: 0;
}
.a-unordered-list li,
ul li {
  list-style: disc;
}

.a-row {
  width: 100%;
}
.a-row:after,
.a-row:before {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0;
}
.a-ws .a-ws-span12,
div.a-column.a-span-last {
  margin-right: 0;
  float: right;
}
.a-ws div.a-column,
div.a-column {
  margin-right: 2%;
  float: left;
  min-height: 1px;
  overflow: visible;
}
.a-row .a-span12,
.a-span12,
.a-ws .a-row .a-ws-span12,
.a-ws .a-ws-span12 {
  width: 100%;
  margin-right: 0;
}
.a-column.a-span-last {
  margin-right: 0;
  float: right;
}
.a-row .a-span12,
.a-ws .a-row .a-ws-span12 {
  width: 99.948%;
}
.apb-browse-col-pad-right {
  padding-right: 0.6rem;
}
.apb-browse-left-nav {
  word-break: break-word;
  margin-left: -20rem;
}
.a-section {
  margin-bottom: 2.2rem;
}
.a-spacing-none,
.a-ws .a-ws-spacing-none {
  margin-bottom: 0 !important;
}
.a-section {
  margin-bottom: 2.2rem;
}
.a-section:last-child {
  margin-bottom: 0;
}
.a-link-normal {
  font-size: 1.6rem;
}
.a-size-base {
  font-size: 1.8rem !important;
  line-height: 2rem !important;
}
.a-color-base {
  color: #243763 !important;
}
.a-text-bold {
  font-weight: 700 !important;
  color: #243763 !important;
}

.a-spacing-small,
.a-ws .a-ws-spacing-small {
  margin-bottom: 0.8rem !important;
}

.apb-browse-refinements ul {
  margin-left: 0;
}
.a-ordered-list,
.a-unordered-list,
ol,
ul {
  padding: 0;
}
.a-unordered-list,
ul {
  margin: 0 0 0 1.8rem;
  color: #243763;
}
.a-spacing-medium,
.a-ws .a-ws-spacing-medium {
  margin-bottom: 1.6rem !important;
}
.a-ordered-list.a-nostyle li,
.a-unordered-list.a-nostyle li,
ol.a-nostyle li,
ul.a-nostyle li {
  list-style: none;
}

.a-ordered-list li,
.a-unordered-list li,
ol li,
ul li {
  word-wrap: break-word;
  margin: 0;
}
.a-unordered-list li,
ul li {
  list-style: disc;
}
.a-spacing-micro,
.a-ws .a-ws-spacing-micro {
  margin-bottom: 4px !important;
}
.a-ordered-list .a-list-item,
.a-unordered-list .a-list-item,
ol .a-list-item,
ul .a-list-item {
  color: #007185;
}

a.a-color-base,
a:link.a-color-base,
a:visited.a-color-base {
  color: #007185;
}
a {
  text-decoration: none;
}
.a-color-base {
  color: #007185 !important;
}
.apb-browse-back-arrow-icon {
  width: 0.6rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-image: url(https://m.media-amazon.com/images/S/sash/5wejH04P3ogfQ-4.svg);
}
.a-inline-block,
.aok-inline-block {
  display: inline-block;
}

.a-ordered-list.a-nostyle li,
.a-unordered-list.a-nostyle li,
ol.a-nostyle li,
ul.a-nostyle li {
  list-style: none;
}

.a-ordered-list.a-nostyle li,
.a-unordered-list.a-nostyle li,
ol.a-nostyle li,
ul.a-nostyle li {
  list-style: none;
}
.a-ordered-list .a-list-item,
.a-unordered-list .a-list-item,
ol .a-list-item,
ul .a-list-item {
  color: #243763;
}
.a-spacing-micro,
.a-ws .a-ws-spacing-micro {
  margin-bottom: 0.4rem !important;
}
.a-unordered-list li,
ul li {
  list-style: disc;
}
.a-ordered-list.a-nostyle li,
.a-unordered-list.a-nostyle li,
ol.a-nostyle li,
ul.a-nostyle li {
  list-style: none;
}
a {
  text-decoration: none;
}
.a-checkbox.a-checkbox-fancy,
.a-radio.a-radio-fancy {
  position: relative;
}
.a-float-left,
.aok-float-left {
  float: left !important;
}
.apb-browse-refinements input,
.apb-browse-refinements label {
  cursor: pointer;
}
.apb-browse-refinements label {
  margin-left: 0;
}
.a-checkbox-fancy label,
.a-radio-fancy label {
  padding-left: 1.9rem;
  text-indent: -1.9rem;
}
.a-checkbox label,
.a-radio label {
  position: relative;
  font-weight: 400;
  color: #007185;
  padding-left: 1.5rem;
  text-indent: -1.5rem;
  margin-left: 0.3rem;
  top: -2px;
  padding-bottom: 0;
}
label,
legend {
  display: block;
  padding-left: 0.2rem;
  padding-bottom: 0.2rem;
  font-weight: 700;
}
.a-checkbox.a-checkbox-fancy input,
.a-radio.a-radio-fancy input {
  opacity: 0.02;
  border: 0 none;
  margin: 0;
  outline: 0 none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  bottom: auto;
  left: 0;
  z-index: -1;
}
.apb-browse-refinements input,
.apb-browse-refinements label {
  cursor: pointer;
}
.a-checkbox-fancy input {
  height: 1.6rem;
  width: 1.6rem;
}
input[type="checkbox"] {
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: top;
  position: relative;
  bottom: -0.3rem;
}
.a-span12 input {
  float: none;
  margin-right: 0;
}
input,
select,
textarea {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  line-height: 1.9rem;
  color: #007185;
}
button,
input {
  line-height: normal;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input,
select,
textarea {
  font-family: inherit;
}
.a-checkbox.a-checkbox-fancy .a-icon.a-icon-checkbox,
.a-checkbox.a-checkbox-fancy .a-icon.a-icon-checkbox:after {
  border-radius: 0.2rem;
}
.a-checkbox-fancy .a-icon-checkbox {
  background-position: -186px -236px !important;
}
.a-checkbox-fancy .a-icon-checkbox {
  vertical-align: middle;
  height: 1.6rem;
  width: 1.6rem;
}
.a-icon.a-accordion-radio,
.a-icon.a-icon-checkbox,
.a-icon.a-icon-radio {
  background-image: url(https://m.media-amazon.com/images/S/sash/ouR9NRElwmzAIev.png);
  -webkit-background-size: 512px 512px;
  background-size: 512px 512px;
  background-repeat: no-repeat;
}
.a-icon {
  display: inline-block;
  vertical-align: top;
}
.a-icon {
  background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
  -webkit-background-size: 400px 900px;
  background-size: 400px 900px;
  background-repeat: no-repeat;
}
em,
i {
  font-style: italic;
}
.a-checkbox.a-checkbox-fancy .a-label,
.a-radio.a-radio-fancy .a-label {
  font-weight: 400;
}
.a-checkbox-fancy .a-checkbox-label,
.a-checkbox-fancy .a-radio-label,
.a-radio-fancy .a-checkbox-label,
.a-radio-fancy .a-radio-label {
  top: 1px;
  vertical-align: middle;
}
.a-checkbox-label,
.a-radio-label {
  position: relative;
  padding-left: 0.5rem;
  text-indent: 0;
  display: inline-block;
}
.a-color-base {
  color: #007185 !important;
}

[class*="a-icon-star"] > .a-icon-alt {
  clip-path: circle(0);
  left: auto;
  width: 100%;
  height: 100%;
  font-size: inherit;
  line-height: normal;
  opacity: 0;
}

.a-icon-alt {
  position: absolute;
  left: -9999px;
  top: auto;
  display: block;
  width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  overflow: hidden;
}

.a-icon.a-star-medium-4 {
  background-position: -2px -342px;
}

.a-icon.a-icon-star,
.a-icon.a-icon-star-medium,
.a-icon.a-icon-star-mini,
.a-icon.a-icon-star-small {
  background-image: url(https://m.media-amazon.com/images/S/sash/ouR9NRElwmzAIev.png);
  -webkit-background-size: 512px 512px;
  background-size: 512px 512px;
  background-repeat: no-repeat;
}
.a-icon-star-medium {
  height: 2.2rem;
  width: 9.5rem;
  margin-right: 1px;
  top: -2px;
}
.a-icon-star,
.a-icon-star-medium,
.a-icon-star-mini,
.a-icon-star-small {
  position: relative;
  vertical-align: text-top;
}
.a-icon {
  display: inline-block;
  vertical-align: top;
}
.a-icon {
  background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
  -webkit-background-size: 400px 900px;
  background-size: 400px 900px;
  background-repeat: no-repeat;
}

.a-icon.a-star-medium-1 {
  background-position: -390px -486px;
}

.a-icon.a-star-medium-2 {
  background-position: -99px -390px;
}

.a-icon.a-star-medium-3 {
  background-position: -293px -438px;
}

#search #s-refinements .s-navigation-checkbox .a-checkbox-label,
#search #s-refinements .s-navigation-checkbox .a-icon-checkbox {
  vertical-align: top;
}
.a-checkbox.a-checkbox-fancy .a-icon.a-icon-checkbox,
.a-checkbox.a-checkbox-fancy .a-icon.a-icon-checkbox:after {
  border-radius: 0.2rem;
}
.a-checkbox-fancy :checked + .a-icon-checkbox {
  background-position: -236px -250px !important;
}
.a-checkbox-fancy .a-icon-checkbox {
  background-position: -186px -236px !important;
}
.a-checkbox-fancy .a-icon-checkbox {
  vertical-align: middle;
  height: 1.6rem;
  width: 1.6rem;
}
.a-icon.a-accordion-radio,
.a-icon.a-icon-checkbox,
.a-icon.a-icon-radio {
  background-image: url(https://m.media-amazon.com/images/S/sash/ouR9NRElwmzAIev.png);
  -webkit-background-size: 512px 512px;
  background-size: 512px 512px;
  background-repeat: no-repeat;
}

.a-icon {
  background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
  -webkit-background-size: 400px 900px;
  background-size: 400px 900px;
  background-repeat: no-repeat;
}

.takeYourSurvey {
  background: #f26649;
  border-radius: 1.6rem;
  display: grid;
  padding: 39px 0;
  grid-template-columns: 1fr 1fr;
  max-width: 925px;
  max-height: 383px;
  margin: 1.5rem auto;
}
.takeYourRight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
/* Category list */

.takeYourLeft {
  width: 38.8rem;
  height: 18.8rem;
  align-self: center;
}
.border_right {
  border-right: 0.2rem solid #ddd;
}

.cardImage {
  width: 100%;
  height: 100%;
}
@media (max-width: 1450px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 950px) {
  html {
    font-size: 48%;
  }
}

@media screen and (max-width: 1227px) {
  .cateGoryPage {
    grid-template-columns: 25% 75%;
  }
}
@media screen and (max-width: 806px) {
  .cateGoryPage {
    grid-template-columns: 35% 65%;
  }
  .mobileheadCate {
    gap: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .mobileheadCat {
    gap: 1.2rem;
  }
  .takeYourSurvey {
    grid-template-columns: 1fr;
  }
  .crsection {
    justify-content: center;
  }
}
