html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Poppins;
}
@media (max-width: 1450px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 950px) {
  html {
    font-size: 48%;
  }
}
body {
  margin: 0;
}
p,
a,
h1,
h2,
span,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ///////////////////// */
.font12w5 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.links {
  display: flex;
  gap: 15px;
  padding: 5px 0;
  border-bottom: 1px solid #cbcbcb;
}
.link {
  color: #243763;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.link:hover {
  border-bottom: 1px solid #ff6501;
}

/* text Box */
.customerGreeting {
  margin-top: 70px;
}
.customerHeading {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  color: #243763;
}
.textCust {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  color: #243763;
}
.orderHeading {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #243763;
}
.orderTextPara {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #676767;
}
.orders_item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff5ef;
  border-radius: 16px;
  max-width: 400px;
  padding: 8px 2px;
  padding-left: 0;
}
.order_grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.boxActive {
  background: #ffdcc6;
  border: 1px solid #ff6501;
  border-radius: 16px;
}
.headActive {
  color: #ff6501;
}
.paraActive {
  color: #243763;
}
.browserHeading {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  color: #243763;
  margin: 75px auto;
}
/* text Box */

/* Browser */
.recoHeading {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #243763;
}
.recoListItem {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #7d7d7d;
}
.listItemsRec {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.linksBrow {
  text-decoration: none;
  color: #7d7d7d;
}
.recomContainer {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
.recommendBrowser {
  width: 100%;
  padding: 35px;
}

.recoBoxActive {
  background: #ffdcc6;
  border-radius: 16px 0 0 16px;
}
.headActive {
  color: #ff6501;
}
.paraActive {
  color: #243763;
}

/* Browser */
